<!DOCTYPE html>
<!--  This site was created in Webflow. http://www.webflow.com  -->
<!--  Last Published: Sat May 11 2019 11:10:20 GMT+0000 (UTC)  -->
<html data-wf-page="5cd0539352e8416fe0dbf19c" data-wf-site="5cd0539352e8412d0edbf18e">
<head>
  <meta charset="utf-8">
  <title>Persona - Webflow HTML website template</title>
  <meta content="Introducing the most personal Webflow template. 8 home pages, 2 portfolio styles, 3 blog layouts, 4 navigation styles and a huge pack of components. Perfect for designers, photographers and all creative people." name="description">
  <meta content="Persona - Webflow HTML website template" property="og:title">
  <meta content="Introducing the most personal Webflow template. 8 home pages, 2 portfolio styles, 3 blog layouts, 4 navigation styles and a huge pack of components. Perfect for designers, photographers and all creative people." property="og:description">
  <meta content="summary" name="twitter:card">
  <meta content="width=device-width, initial-scale=1" name="viewport">
  <meta content="Webflow" name="generator">
  <link href="css/normalize.css" rel="stylesheet" type="text/css">
  <link href="css/webflow.css" rel="stylesheet" type="text/css">
  <link href="css/logans-test-collection.webflow.css" rel="stylesheet" type="text/css">
  <script src="https://ajax.googleapis.com/ajax/libs/webfont/1.6.26/webfont.js" type="text/javascript"></script>
  <script type="text/javascript">WebFont.load({  google: {    families: ["Oswald:200,300,400,500,600,700","Karla:regular,700","IBM Plex Sans Condensed:100,200,300,regular,500,600"]  }});</script>
  <script src="https://use.typekit.net/djj2jov.js" type="text/javascript"></script>
  <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
  <!-- [if lt IE 9]><script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js" type="text/javascript"></script><![endif] -->
  <script type="text/javascript">!function(o,c){var n=c.documentElement,t=" w-mod-";n.className+=t+"js",("ontouchstart"in o||o.DocumentTouch&&c instanceof DocumentTouch)&&(n.className+=t+"touch")}(window,document);</script>
  <link href="images/AMERICANCREWLOGO_33AMERICANCREWLOGO_32.png" rel="shortcut icon" type="image/x-icon">
  <link href="images/AMERICANCREWLOGO256.png" rel="apple-touch-icon">
  <script>
  (function (w,i,d,g,e,t,s) {w[d] = w[d]||[];t= i.createElement(g);
    t.async=1;t.src=e;s=i.getElementsByTagName(g)[0];s.parentNode.insertBefore(t, s);
  })(window, document, '_gscq','script','//widgets.getsitecontrol.com/180426/script.js');
</script>
  <style>
  .error-message{
   display: none;
  }
</style>
</head>
<body class="body">
  <div data-w-id="2884cf5d-d2e3-0fe5-e94e-40c39bbc59c9" class="preloader"><img src="images/preloader_1preloader.gif" data-w-id="b245e951-e434-2411-ed38-2c7766a69262" alt="" class="preloader-icon"></div>
  <div data-collapse="medium" data-animation="default" data-duration="400" data-no-scroll="1" class="nav-bar-left w-nav"><a href="index.html" class="brand w-nav-brand"><img src="images/WHBoxLogo.png" width="89" alt="" class="image-11"></a>
    <nav role="navigation" class="nav-menu-left w-nav-menu"><a href="contact.html" class="nav-link w-nav-link"> </a><a href="layouts/home-6.html" class="nav-link w-nav-link">about us</a><a href="layouts/home-v-7-slider.html" class="nav-link w-nav-link">TIPS &amp; TRICKS</a><a href="blog/blog-3.html" class="nav-link w-nav-link">products</a><a href="contact.html" class="nav-link w-nav-link">CONTACT US</a></nav>
    <div class="menu-button w-hidden-main w-nav-button">
      <div class="w-icon-nav-menu"></div>
    </div>
    <div class="nav-left-social-icons"><a href="https://twitter.com" target="_blank" class="social-icon-link w-inline-block"><img src="images/twitter-icon.svg" alt=""></a><a href="https://facebook.com" target="_blank" class="social-icon-link w-inline-block"><img src="images/dribbble-icon.svg" alt=""></a><a href="https://behance.net" target="_blank" class="social-icon-link w-inline-block"><img src="images/behance-icon.svg" alt=""></a></div>
  </div>
  <div class="ac-pagevideo nav-left">
    <div class="split-content center">
      <div class="password-form-wrapper w-password-page w-form">
        <h1>Protected page</h1>
        <form method="post" action="/.wf_auth" class="password-form w-password-page">
          <div style="display:none" class="w-password-page w-embed w-script"><input type="hidden" name="path" value="<%WF_FORM_VALUE_PATH%>"><input type="hidden" name="page" value="<%WF_FORM_VALUE_PAGE%>"></div><input type="password" name="pass" placeholder="Enter password" maxlength="256" autofocus="true" class="input password-input w-password-page w-input"><input type="submit" value="Submit" data-wait="Please wait..." class="button password-button w-password-page w-button"></form>
        <div class="w-password-page w-form-fail">
          <div>Incorrect password. Please try again.</div>
        </div>
        <div style="display:none" class="w-password-page w-embed w-script">
          <script type="application/javascript">(function _handlePasswordPageOnload() {
	  if (/[?&]e=1(&|$)/.test(document.location.search)) {
	    document.querySelector('.w-password-page.w-form-fail').style.display = 'block';
	  }
	})()</script>
        </div>
      </div>
      <div class="w-embed"></div>
    </div>
    <div class="split-media right nav-left">
      <div class="split-image protected-image"></div>
    </div>
  </div>
  <script src="https://d1tdp7z6w94jbb.cloudfront.net/js/jquery-3.3.1.min.js" type="text/javascript" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
  <script src="js/webflow.js" type="text/javascript"></script>
  <!-- [if lte IE 9]><script src="https://cdnjs.cloudflare.com/ajax/libs/placeholders/3.0.2/placeholders.min.js"></script><![endif] -->
  <!--  The core Firebase JS SDK is always required and must be listed first  -->
  <script src="https://www.gstatic.com/firebasejs/6.0.0/firebase-app.js"></script>
  <!--  TODO: Add SDKs for Firebase products that you want to use
     https://firebase.google.com/docs/web/setup#config-web-app  -->
  <script>
  // Your web app's Firebase configuration
  var firebaseConfig = {
    apiKey: "AIzaSyDU8SZjbxatmsrGrMnahX9b9QpkSijFukc",
    authDomain: "users-ae.firebaseapp.com",
    databaseURL: "https://users-ae.firebaseio.com",
    projectId: "users-ae",
    storageBucket: "users-ae.appspot.com",
    messagingSenderId: "947123816419",
    appId: "1:947123816419:web:10f31f5233e49925"
  };
  // Initialize Firebase
  firebase.initializeApp(firebaseConfig);
</script>
</body>
</html>